
//===============

//font-stack

//==============
$fm-main:  "Public Sans", sans-serif;



//=================

// font-weight

//==================

$font-weight-thin : 100;
$font-weight-light : 300;
$font-weight-medium : 400;
$font-weight-bold : 700;
$font-weight-ultra-bold : 900;  


//=====================

// descriptive color

//=====================


$white :  hsl(0, 0%, 100%);

$color-gray-500:  hsl(0, 0%, 98%);
$color-gray-light: 	hsl(220, 16%, 96%);

$color-gray-silver: hsl(233, 8%, 62%);



$color-black-1: 	hsl(233, 26%, 24%);

$color-blue-bright:  	hsl(233, 26%, 24%);
$color-green: hsl(136, 65%, 51%);







$primary-color : linear-gradient(to right, rgba(49, 211, 92), hsl(192, 70%, 51%))   ;


