

.box {
     
      &__social {
          
      
      display: flex;
    
      gap: .5rem;
          
         
      }

      &__social--cover {
      
        height: 100px;
        margin-right: .4rem;
       img {
        width: 20px !important;
        margin-top: 2rem;
       }
      }
}