@use "../util/mixin" as *;

@use  "../base/config" as *;

// Module
.button {
    @include button-init(hsl(136, 65%, 51%), white);
    
  
    &:hover {
      background-color: hsl(136, 65%, 41%);

      }
      
    

    &__nav {
      display: none;
    }
  }

  @media (min-width: 960px){

    .button {

      &__nav {
         display: block;
      }
    }
  }
  